<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Project Vue.JS</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="content-page" style="margin: 5%">
          <div id="title" style="text-align:center;">
              <h1>{{message}}</h1>
          </div>

          <!-- title -->
          <div id="contentDate">
            <span v-bind:title="message">
                Hover your mouse over me for a few seconds to see
            </span>
          </div>

          <div id="contentText">
            <!-- <span v-text="message"/> -->
            <span v-html="intro"></span>
          </div>

          <div id="contentShow">
            <!-- <span v-show="viewed">This message is viewed !</span> -->
            <span v-pre>{{message}} </span>
            <span v-if="viewed" v-once v-cloak>{{message}}</span>
            <span v-else>This message is NOT viewed and changed value !</span>
          </div>

          <div id="contentBind">
            <span v-bind:title="title">{{message}}</span>
            <img v-bind:src="url" v-bind:alt="title" v-bind:title="title"/>
          </div>

          <div id="contentVueFor">
            <span>{{message}}</span>
            <ul>
              <li style="list-style-type: none;" v-for="todo in todos">{{todo.id}} - {{todo.text}}</li>
            </ul>

            <ul>
              <li style="list-style-type: none;" v-for="count in count">#{{count}}</li>
            </ul>
          </div>

          <div id="contentVueModel">
            <span>{{message}}</span>
            </br>
            <input type="text" v-model="message"></input>
          </div>

          <div id="contentVueEvent">
            <h2>Count: {{count}} - Vue Event !</h2>
            </br>
            <button v-on:click="countUp" class="btn btn-primary">Count Up</button>
            <button @click="countDown" class="btn">Count Down</button>
            </br>
            <h2>Vue Event part 2 !</h2>
            <p>
              Visit: <a v-bind:href="url">{{cleanUrl}}</a>
            </p>
            <input type="text" class="form-control" v-model="url"></input>
            <button @click="humanizeUrl" class="btn btn-primary">Humanize Me !</button>
          </div>
        </div>
    </body>

    <script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#title',
            data: {
                message: 'Hello Vue World'
            }
        })

        var appContentDate = new Vue({
            el: '#contentDate',
            data : {
              message: 'You loaded this page on ' + new Date()
            }
        })

        var appContentText = new Vue({
          el: '#contentText',
          data: {
            message: 'This is text of v-text',
            intro: "Welcome to project <b>projectvuejs !</b>"
          }
        })

        var appContentShow = new Vue({
          el: '#contentShow',
          data: {
            message: 'This message is viewed and is NOT change !',
            viewed: true
          }
        })

        var appContentBind = new Vue({
          el: '#contentBind',
          data: {
            message: 'This is the text !',
            title: 'this is the TITLE !',
            url: "https://vuejs.org/images/logo.png"
          }
        })

        var appContentVueFor = new Vue({
          el: '#contentVueFor',
          data: {
            message: 'This is content of Vue For !',
            todos: [
              { text: 'Number 1', id: 1 },
              { text: 'Number 2', id: 2 },
              { text: 'Numver 3', id: 3}
            ],
            count: 5
          }
        })

        var appContentVueModel = new Vue({
          el: '#contentVueModel',
          data: {
            message: 'This is the Vue Model !'
          }
        })

        var appContentVueEvent = new Vue({
          el: '#contentVueEvent',
          data: {
            message: 'This is the Vue Event !',
            count: 0,
            url: '',
            cleanUrl: ''
          },
          methods: {
            countUp: function(){
              this.count += 1;
            },
            countDown: function(){
              this.count -= 1;
            },
            humanizeUrl: function(){
              this.cleanUrl = this.url.replace(/^http?:\/\//, '').replace(/\/$/, '')
            }
          }
        })
    </script>
</html>
